<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How the Timing and Type of BC Treatment affects Covid Outcomes</title>
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="Project3/Static/css/afr_style.css"/>
</head>


<body>
    <div class="afr_title" style="text-align:center">
        <h1 style="background-color:rgb(200, 239, 200); font-family: Lato;">How the number of mild, moderate, and severe covid outcomes changes as the timing of BC treatment changes </h1>
    </div>
    <div clas="afr_text_description">
        <p style="background-color:rgb(236, 239, 200); font-family: Lato;">I am hypothesizing that the closer the cancer treatment was given to COVID-19 infection, the more likely the patients are to have moderate or severe COVID-19 outcomes</p>
    </div>
    <div id="afr_timing_bar_grouped"></div>
    <div class="afr_dropdown_timing">
        <button class="dropbtn">Dive Deeper</button>
        <div class="dropdown-content">
          <p>Mild</p>
          <p>Moderate</p>
          <p>Severe</p>
        </div>
      </div>
    <div id="afr_mild_timing_pie"></div>
    <div id="afr_moderate_timing_pie"></div>
    <div id="afr_severe_timing_pie"></div>
    
    <div class="afr_title" style="text-align:center">
        <h1 style="background-color:rgb(200, 239, 200); font-family: Lato;">How the number of mild, moderate, and severe covid outcomes changes based on the type of BC Treatment </h1>
    </div>
    <div clas="afr_text_description"  style="background-color:rgb(236, 239, 200); font-family: Lato;">
        <p>Cancer treatments can affect the immune system and its ability to respond to infection.</p>
        <p>According to the American Cancer Society, cancer treatments like chemotherapy and radiation therapy can cause a decrease in the number of white blood cells and thus decrease the body's capacity to respond to infection.</p>
        <p>Additionally, targeted therapy and immunotherapy are used to improve the immune system's ability to attack cancer cells, but can compromise their ability to fight off infections</p>
        <p>In this analysis, I am looking at how the type of cancer treatment affects the severity of Covid by potentially compromising the immune system and its ability to respond to infection</p>
    </div>
    <div id="afr_mild_treatment_pie"></div>
    <div id="afr_moderate_treatment_pie"></div>
    <div id="afr_severe_treatment_pie"></div>
    <div id="afr_treatment_bar_grouped"></div>
    <script src="{{ url_for('static', filename='js/plots_AFR.js') }}"></script>
</body>
</html>