<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How the Timing and Type of BC Treatment affects Covid Outcomes</title>
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/afr_style.css') }}">
</head>


<body>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext"> Mild</div>
      <div id="afr_mild_timing_pie" style="width:100%"></div>
      <div class="text"> Mild Covid Outcomes at Different times</dive>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">Moderate</div>
      <div id="afr_moderate_timing_pie" style="width:100%"></div>
      <div class="text">Moderate covid outcomes at different times</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">Severe</div>
      <div id="afr_severe_timing_pie" style="width: 100%;"></div>
      <div class="text">Severe covid outcomes at different time points</div>
    </div>
  </div>
  <script>
    let slideIndex=1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex +=n);
    }

    function showSlides(n){
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsbyClassName('dot');
      if(n > slides.length) {slidesIndex=1}
      if(n<1) {slideIndex=slides.length}
      for (i=0; i<slides.length; i++) {
        slides[i].style.display = 'none';
      }
      for (i=0; i<dots.length; i++) {
        dots[i].className=dots[i].className.replace("avtive", "");
      }
      slides[slidesIndex-1].style.display = "block";
      dots[slidesIndex-1].className += "active";
    }
  </script>
  <script src="{{ url_for('static', filename='js/plots_AFR.js') }}"></script>
</body>
</html>