<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How the Timing and Type of BC Treatment affects Covid Outcomes</title>
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="afr_mild_timing_bar"></div>
    <div id="afr_moderate_timing_bar"></div>
    <div id="afr_severe_timing_bar"></div>
    <div id="afr_mild_treatment_bar"></div>
    <div id="afr_moderate_treatment_bar"></div>
    <div id="afr_severe_treatment_bar"></div>
</body>
</html>