<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- D3.js -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Your visualization JavaScript file -->
    <script src="/Project3/static/js/plots_FY.js"></script>
    <link rel="stylesheet" href="/Project3/static/css/styling_FY.css">


</head>

<body>

    <div class="container">
       

        <!-- Histogram Container -->
        <div id="histogram-container" class="visualization-container">
            <h2>COVID-19 Severity Distribution</h2>
        </div>

        <!-- Bar Chart Container -->
        <div id="bar-chart-container" class="visualization-container">
            <h2>Obesity Distribution</h2>
        </div>

        <!-- Boxplot Container -->
        <div id="boxplot-container" class="visualization-container">
            <h2>Age Distribution by Cancer Status</h2>
        </div>

        
    </div>

</body>

</html>