<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- D3.js -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Your visualization JavaScript file -->
    <script src="{{ url_for('static', filename='js/plots_FY.js') }}"></script>
    <!-- <link rel="stylesheet" href="/Project3/static/css/styling_FY.css"> -->

    <!-- plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body>

    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Obesity Race Effect</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars_FY" aria-controls="navbars_FY" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="navbar-collapse collapse" id="navbars_FY">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/OurTeam">Our Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Limitations_References">Limitations & References</a>
            </ul>
  
          </div>
        </div>
      </nav>
    
    
    <div class="container">
       
        

      
        <h3 style="color: rgb(255, 115, 0);margin-left: 150px;">Distribution of Age for each Covid-19 Severity Levels</h3>
        <div id="boxplot-container">
         
            <!-- <h2>Age Distribution by Cancer Status</h2> -->
        </div>

        <h3 style="color: rgb(255, 132, 0);margin-left: 150px;">der_cancer_status_v4 (Percentage)</h3>
        <div id="cancer-status-chart-container">
            <!-- bar chart to show cancer percentage -->
       </div> 

       
       <h3 style="color: rgba(255, 115, 0, 0.801);margin-left: 150px;">Obesity Distribution Chart</h3>
       <div id="obesity-distribution-chart-container">
           <!-- bar chart to show Obesity Distribution Chart-->
      </div>
      
      <h3 style="color: rgba(255, 85, 0, 0.957);margin-left: 150px;">Covid Severity Distribution Chart</h3>
       <div id="covid-severity-distribution-chart-container">
           <!-- bar chart to show covid-severity-distribution-chart-->
      </div>


    <h3 style="color: rgb(255, 115, 0);margin-left: 150px;">age-distribution-scatter</h3>
    <div id="age-distribution-boxplot">
        <!-- bar chart to show age-distribution-scatter-->
 </div>

</body>

</html>
