<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research</title>
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="HS_pie"></div>
    <div id="HS_severity_bar"></div>
    <div id="HS_cancer_urban"></div>
    <div id="HS_cancer_suburban"></div>
    <div id="HS_cancer_rural"></div>
    <script src="{{ url_for('static', filename='js/plots_HS.js') }}"></script>
</body>
</html>