<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research</title>
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- amcharts library -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <!-- styling css for hamza branch -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling_HS.css') }}">

</head>

<body>
    <div class="figure1_container">

        <div class="residence_title">
           <h1>Distribution of Patients' Residence</h1>
        </div>

        <div class="residence_container">
            <div id="residence_pie"></div>
        </div>
        
    </div>

    <div id="HS_severity_bar"></div>
    <div id="HS_cancer_urban"></div>
    <div id="HS_cancer_suburban"></div>
    <div id="HS_cancer_rural"></div>
    <script src="{{ url_for('static', filename='js/plots_HS.js') }}"></script>
</body>
</html>