<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research</title>
    <!-- Plotly CDN for JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="bar-graph1"></div>
    <div id="bar-graph2"></div>
    <div id="bar-graph3"></div>
    <div id="bar-graph4"></div>
    <div id="bar-graph5"></div>
    <script src="{{ url_for('static', filename='js/plots_MB.js') }}"></script>
    <div id="HS_pie"></div>
    <script src="{{ url_for('static', filename='js/plots_HS.js') }}"></script>
    <div id = "boxplot-container"></div>
    <script src="{{ url_for('static', filename='js/plots_FY.js') }}"></script>
</body>
</html>