<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research</title>>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div style="background-color: pink;">
        <header class="bg-pink black-80 tc pv4 avenir">
            <h1 class="mt2 mb0 baskerville i fw1 f1">Breast Cancer Research Group</h1>
        </header>
    </div>
        <div style="background-color: gray;">
            <nav class="bt bb tc mw7 center mt4">
            <a style="font-weight: bold;" class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="/">Home</a>
            <a style="font-weight: bold;" class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="/Members">Our Team</a>
            <a style="font-weight: bold;" class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="/References">References</a>
            </nav>
        </div>
    
    <div class="content-box">
        <h2 style="margin-bottom: 10px;">Introduction to our page:</h2>
        <p>Welcome to our webpage, where we delve into a comprehensive analysis rooted in a collaborative study with the COVID-19 and Cancer Consortium (CCC19) registry. Our research focuses on the intersection of COVID-19 and breast cancer (BC) in females, spanning from March 2020 to June 2021. The study involves 1383 female participants diagnosed with breast cancer and confirmed SARS-CoV-2 infection, with a median age of 61 years and a follow-up period of 90 days. To ensure diversity, participants hail from various geographic regions within the United States.</p>
        <p>Our primary goal is to thoroughly examine the severity of COVID-19 outcomes among females with a history of breast cancer. Utilizing the CCC19 registry, we aim to pinpoint specific factors influencing COVID-19 severity in this unique population. This valuable knowledge is essential for tailoring medical responses and interventions for individuals with breast cancer who contract COVID-19. Explore our findings and insights as we contribute to the understanding of this critical intersection between breast cancer and the ongoing pandemic.</p>
    </div>


    <div class="alert alert-warning" role="alert">
        Tap on the question you would like to see the analysis for!
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>





  
  