<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research|Smoking</title>
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_MB1.css') }}">
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="card-container">
        <!-- Flip card for bar-graph1 (left side) -->
        <div class="card" onclick="flipCard(this)">
            <div class="front" id="bar-graph1"></div>
            <div class="back">
                <p>Some text on the back of the card for bar-graph1.</p>
            </div>
        </div>

        <!-- Flip card for bar-graph2 (right side) -->
        <div class="card" onclick="flipCard(this)">
            <div class="front" id="bar-graph2"></div>
            <div class="back">
                <p>Some text on the back of the card for bar-graph2.</p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/plots_MB.js') }}"></script>

    <script>
        function flipCard(card) {
            card.classList.toggle('flipped');
        }
    </script>
</body>
</html>
