<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- smoking_race.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smoking_race.css') }}">
</head>
<body>


    <div id="myCarousel" class="carousel slide mb-6 pointer-event" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-target="#myCarousel" data-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-target="#myCarousel" data-slide-to="1" aria-label="Slide 2" class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgb(252, 203, 211)"></rect></svg>
            <div class="fluid-container">
            <div class="carousel-caption text-center" style="color: black;  white-space: pre-line;">
                <h1>Amongst all the races with different BC statuses, is smoking a factor for them to have COVID-19?</h1>
            </div>
            </div>
            </div>

        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgb(155, 155, 155)"></rect></svg>
            <div class="fluid-container">
            <div class="carousel-caption">
                <p>Overall page explanation</p>
            </div>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert" style="font-size: 24px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-index me-2" viewBox="0 0 16 16" style="margin-right: 8px;">
            <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5 5 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.6 2.6 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046zm2.094 2.025"/>
        </svg>
        <div class="fw-bold">
            Tap on any white-space to learn more!
        </div>
    </div>

    <!-- Card 1 -->
<div class="card mb-3" data-toggle="collapse" data-target="#explanation1" aria-expanded="false">
    <div class="card-header text-center" style="background-color: #E9A825;">
        Card 1
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div id="pie-chart1" style="width: 100%;"></div>
            </div>
            <div class="col-md-6">
                <div id="pie-chart2" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div id="explanation1" class="collapse mt-2">
        <div class="card-footer" style="background-color: #a5e2fe;">
            Explanation for Card 1
        </div>
    </div>
</div>

<!-- Card 2 -->
<div class="card mb-3" data-toggle="collapse" data-target="#explanation2" aria-expanded="false">
    <div class="card-header text-center" style="background-color: #E9A825;">
        Card 2
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div id="pie-chart3" style="width: 100%;"></div>
            </div>
            <div class="col-md-6">
                <div id="pie-chart4" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div id="explanation2" class="collapse mt-2">
        <div class="card-footer" style="background-color: #a5e2fe;">
            Explanation for Card 2
        </div>
    </div>
</div>

<!-- Card 3 -->
<div class="card mb-3" data-toggle="collapse" data-target="#explanation3" aria-expanded="false">
    <div class="card-header text-center" style="background-color: #E9A825;">
        Card 3
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div id="pie-chart5" style="width: 100%;"></div>
            </div>
            <div class="col-md-6">
                <div id="pie-chart6" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <div id="explanation3" class="collapse mt-2">
        <div class="card-footer" style="background-color: #a5e2fe;">
            Explanation for Card 3
        </div>
    </div>
</div>
    
    <!-- JavaScript to handle card click -->
    <script>
        document.querySelectorAll('.card').forEach(function(card) {
            card.addEventListener('click', function() {
                var targetCollapse = card.getAttribute('data-target');
                var isExpanded = $(targetCollapse).hasClass('show');
    
                // If the explanation is not expanded, expand it
                if (!isExpanded) {
                    $(targetCollapse).collapse('show');
                }
            });
        });
    </script>
    
    <!-- Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Your Chart Initialization Script -->
    <script src="{{ url_for('static', filename='js/plots_MB.js') }}"></script>
    
    
    </body>
    </html>
