<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research|Smoking</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- D3 -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- smoking.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smoking.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Smoking Effect</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars_MB1" aria-controls="navbars_MB1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbars_MB1">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/OurTeam">Our Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Limitations_References">Limitations & References</a>
            </ul>

          </div>
        </div>
    </nav>

    <!-- Carousel -->
    <div class="carousel slide mb-6 pointer-event" id="myCarousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgb(252, 203, 211)"></rect></svg>
            <div class="fluid-container">
            <div class="carousel-caption text-center" style="color: black;  white-space: pre-line;">
                <h1>Is smoking a factor in severe COVID-19 for individuals with Breast Cancer?</h1>
                <div class="position-absolute bottom-0 start-50 translate-middle-x mb-3">
                    <img src="https://drive.google.com/thumbnail?id=1xrudZ2b-lQXpSHXSJio7CGdZqATPI23C" alt="Bottom Left Image">
                </div>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="rgb(155, 155, 155)"></rect></svg>
            <div class="fluid-container">
            <div class="carousel-caption">
                <p>To respond to the posed question, a systematic step-by-step approach was employed, and the findings have been visualized through informative bar graphs. The analysis focused on a specific dataset that provides an overview rather than an in-depth historical perspective on smoking. The dataset categorizes individuals broadly into smokers and non-smokers, with a notable prevalence of non-smokers over smokers. It is essential to acknowledge that this distribution might have influenced the results of the analysis. The insightful explanations for each bar graph are conveniently accessible on the reverse side; simply tap on the graphs to reveal the detailed interpretations. Additionally, a conclusive summary is available at the bottom of the page for your convenience and reference.</p>
            </div>
            </div>
        </div>
        </div>
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <!-- Alert -->
    <div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert" style="font-size: 24px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
          </svg>
        <div class="ms-2 fw-bold">
          Tap on the graphs for explanation!
        </div>
      </div>
    
    <!-- Bar Graphs Flip Cards -->
    <div class="container mt-4">
        <div class="row">
            <!-- Flip card for bar-graph1 (left side) -->
            <div class="col-md-6 mb-3">
                <div class="card" onclick="flipCard(this)">
                    <div class="front" id="bar-graph1"></div>
                    <div class="back">
                        <p>
                            In relation to this plot, it is evident that the count of non-smoker individuals across all three breast cancer statuses (Active and responding, Active and stable, Active and progressing) surpasses the count of smokers. This indicates that the smoking status did not have a noticeable impact on the various breast cancer statuses.</p>
                    </div>
                </div>
            </div>

            <!-- Flip card for bar-graph2 (right side) -->
            <div class="col-md-6 mb-3">
                <div class="card" onclick="flipCard(this)">
                    <div class="front" id="bar-graph2"></div>
                    <div class="back">
                        <p>
                            Referring to this plot, it is apparent that the count of non-smoker individuals for all three COVID-19 severity types (Mild, Moderate, Severe) exceeds the count of smokers. This observation suggests that being a smoker does not influence the severity of COVID-19.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Row -->
        <div class="row">
            <!-- Flip card for bar-graph3 (left side) -->
            <div class="col-md-6 mb-3">
                <div class="card" onclick="flipCard(this)">
                    <div class="front" id="bar-graph3"></div>
                    <div class="back">
                        <p>
                            The comparison involved examining the correlation between breast cancer statuses and the severity of COVID-19 in relation to the smoking status. The aim was to determine whether being a smoker had any impact on the severity of COVID-19 among individuals with different types of breast cancer. Beginning with mild COVID-19, the analysis indicates that being a smoker while having breast cancer does not influence the severity of COVID-19.</p>
                    </div>
                </div>
            </div>

            <!-- Flip card for bar-graph4 (right side) -->
            <div class="col-md-6 mb-3">
                <div class="card" onclick="flipCard(this)">
                    <div class="front" id="bar-graph4"></div>
                    <div class="back">
                        <p>Similar to the findings in the mild COVID-19 bar graph, it can be inferred that being a smoker while having breast cancer does not impact the severity of COVID-19.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Row -->
        <div class="row">
            <!-- Flip card for bar-graph5 (centered) -->
            <div class="col-md-6 offset-md-3 mb-3">
                <div class="card" onclick="flipCard(this)">
                    <div class="front" id="bar-graph5"></div>
                    <div class="back">
                        <p>Parallel to the observations in the mild and moderate COVID-19 bar graphs, it can be inferred that being a smoker while having breast cancer does not influence the severity of COVID-19.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Conclusion -->
    <div style="background-color: lavender; color: black; padding: 15px; border-radius: 8px; margin: 10px 0; width: 100%;">
        <h2 style="margin-bottom: 10px;">Conclusion</h2>
        <p>
        The initial hypothesis posited for this experiment was that "Individuals who smoke and have Breast Cancer have a higher chance of having severe COVID compared to those who do not smoke." However, upon careful examination of the bar graphs and the conducted analysis, it is evident that smoking does not exert an influence on the severity of COVID-19 for individuals with breast cancer.
        It's crucial to acknowledge that the dataset lacks a detailed exploration into the smoking history of individuals, merely categorizing them as smokers or non-smokers. Additionally, within the dataset, the overall count of smokers is lower than that of non-smokers, potentially impacting the outcome of this analysis.
        </p>
    </div>
    
    <!-- Plots -->
    <script src="{{ url_for('static', filename='js/plots_MB.js') }}"></script>

    <!-- Flip Cards -->
    <script>
        function flipCard(card) {
            card.classList.toggle('flipped');
        }
    </script>


    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

