/* Navbar */
.navbar.navbar-dark.bg-dark {
  width:100%;
}

/* Intro */
.intro {
  height: 500px;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  background-color: rgb(255, 240, 243);
}

.intro h1 {
  color: black;
  font-family: "Lato";
  font-size: 40px;
  max-width: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.intro p {
  color: black;
  font-family: "Lato";
  font-size: 20px;
  max-width: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px; 
}

/* Conclusion */
.conclu {
  height: 400px;
  display: flex;
  padding-top: 50px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgb(255, 240, 243);
}

.conclu h1 {
  color: black;
  font-family: "Lato";
  font-size: 40px;
  max-width: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.conclu p {
  color: black;
  font-family: "Lato";
  font-size: 20px;
  max-width: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px; 
}
/* Title Formating */
.afr_title {
  color: black;
  font-family: 'Lato';
  font-size: 24px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items:end;
  background-color: rgb(247, 247, 193);
}

/* Text Formating */
.afr_text_description {
  color: black;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items:baseline;
  background-color: rgb(247, 247, 193);
  }

.hover_instruct {
  width: fit-content; /* Set width to fit the content */
  margin: 0 auto; /* Center the container horizontally */
  background-color: #aee2b0; /* Green background color */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
}

.hover_instruct p {
  margin: 0;
  color: black;
  font-family: "Lato";
  font-size: 20px;
}

/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */
/*                                                                         TIMING FLIP CARD                                                                    */
/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */

/* The flip card container */
.flip-card {
  background-color: white;
  width: 2000px;
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 0 auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 2000px;
  height: 600px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Add a class to rotate when active */
.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

/* Position the front and back side */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  align-items: center;
  background-color: white;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  background-color: white;
}

/* Style the back side */
.flip-card-back {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:left;
  font-family: "Lato";
  font-size: 20px;
  background-color:white;
  transform: rotateY(180deg);
}


/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */
/*                                                                        TIMING CAROUSEL                                                                      */
/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */

* {box-sizing:border-box}

/* Slideshow container */
.timing-slideshow-container {
  max-width: 700px;
  height: 600px;
  position: relative;
  margin:auto;
  overflow: hidden;
}

/* Hide the images by default */
.myTimingSlides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: rgba(214, 206, 206, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.timingtext {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */
/*                                                                         TREATMENT FLIP CARD                                                                    */
/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */

/* The flip card container */
.treat-flip-card {
  background-color: transparent;
  width: 2000px;
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 0 auto;
}

/* This container is needed to position the front and back side */
.treat-flip-card-inner {
  position: relative;
  width: 2000px;
  height: 600px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Add a class to rotate when active */
.treat-flip-card.active .treat-flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.treat-flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
}

.treat-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  align-items: center;
}

/* Style the front side (fallback if image is missing) */
.treat-flip-card-front {
  color: black;
}

/* Style the back side */
.treat-flip-card-back {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:left;
  font-family: "Lato";
  font-size: 20px;

  transform: rotateY(180deg);
}

/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */
/*                                                                        TREATMENT CAROUSEL                                                                   */
/* --------------------------------------------------- --------------------------------------------------- --------------------------------------------------- */

/* Slideshow container */
.treatment-slideshow-container {
  max-width: 700px; /* Adjust the max-width to your preference */
  height: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/* Hide the images by default */
.myTreatmentSlides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; /* Take up the full width of the container */
}

/* Next & previous buttons */
.prev-treatment, .next-treatment {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(214, 206, 206, 0.8);
}

/* Position the "next button" to the right */
.next-treatment {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-treatment:hover, .next-treatment:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Caption text */
.treatment-text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
}

/* The dots/bullets/indicators */
.treat-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-treatment, .treat-dot:hover {
  background-color: #717171;
}
