/* Navbar */
.navbar.navbar-dark.bg-dark {
  width:100%;
}


body {
    display: flex;
    flex-direction: column; /* Make the body a flex container with a vertical direction */
    align-items: center;
    justify-content: center;
    margin: 0;
}

#g_container1{
  width: 100%; 
  height: 70vh;
  margin: auto;
  background-color:white;
  display: grid;
  
}

#graph1 {
  width: 50vw;
  height: 50vh; 
  transform: translate(40%,-60%);
  position:center 
}

#g1_title {
  height: 45vh;
  width: 50vw;
  font-size: 2em; 
  transform: translate(70%,10%);
  color: black;
  font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
}

  #g_container2{
    width: 100%; 
    height: 70vh;
    margin: auto;
    background-color:white;
   
    display: grid;
    
  }
  
  #graph2 {
    width: 50vw;
  height: 50vh; 
    transform: translate(40%,-60%);
    position:relative 
  }
  
  #g2_title {
    height: 45vh;
    width: 50vw;
    font-size: 2em; 
    transform: translate(70%,10%);
    color: black;
    font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
  }

  #g_container3{
    width: 100%; 
    height: 70vh;
    margin: auto;
    background-color:white;
   
    display: grid;
    
  }
  
  #graph3 {
    width: 50vw;
  height: 50vh; 
    transform: translate(40%,-60%);
    position:relative 
  }
  
  #g3_title {
    height: 45vh;
    width: 50vw;
    font-size: 2em; 
    transform: translate(70%,10%);
    color: black;
    font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
  }

  #g_container4{
    width: 100%; 
    height: 70vh;
    margin: auto;
    background-color:white;
   
    display: grid;
    
  }
  
  #graph4 {
    width: 50vw;
  height: 50vh; 
    transform: translate(40%,-60%);
    position:relative 
  }
  
  #g4_title {
    height: 45vh;
    width: 50vw;
    font-size: 2em; 
    transform: translate(70%,10%);
    color: black;
    font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
  }

  #g_container5{
    width: 100%; 
    height: 70vh;
    margin: auto;
    background-color:white;
    display: grid;
    
  }
  
  #graph5 {
    width: 50vw;
  height: 50vh; 
    transform: translate(40%,-60%);
    position:relative 
  }
  
  #g5_title {
    height: 45vh;
    width: 50vw;
    font-size: 2em; 
    transform: translate(70%,10%);
    color: black;
    font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
  }

  .buttons{
    display: inline-block;
    position: relative;
    top:50%;
    background-color:white;
    border:none;
    border-radius:50px;
    
    padding-top:10px;
    padding-bottom:10px;
    margin-right:5px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height:30px; 
    min-width: 120px;
  }
  
  .buttons:hover {
    background-color:#fff0c1;
    transition: 0.7s;
    transform: scale(1.05);
    box-shadow: 0px 0px 4px 4px darkgrey  ;
  }
  
  #outer
  {
      width:100%;
      text-align: center;
      background-color: #A7C7E7 ;
      border-radius:10px;
  }
  

  .divider {
    width: 100%; 
    height: 30px; 
    background-color: white; 
    border-radius:10px;
  }
  

  .divider2 {
    width: 100%; 
    height: 50px; 
    background-color: white; 
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    color: #000; 
}


/* Flip Cards */
/* The flip card container */
.flip-card {
  background-color: white;
  width: 100%; /* Adjusted from 2000px to be responsive within its parent */
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Removed margin: 0 auto; to avoid forced centering */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%; /* Ensure this is also responsive */
  height: 600px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Add a class to rotate when active */
.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

/* Position the front and back side */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center; /* Horizontally center */
  flex-direction: column;
}


/* Style the back side */
.flip-card-back {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:left;
  font-family: "Lato";
  font-size: 20px;
  background-color:white;
  transform: rotateY(-180deg);
}

.flip-card-back img {
  max-width: 80%; 
  max-height: auto; 
  display: block; 
  margin: 0 auto; /* Centers the image horizontally */
}



.flip-card-front img {
  max-width: 130%; 
  max-height: auto; 
  display: block; 
  margin: 0 auto; /* Centers the image horizontally */
}


.name {
  color: black;

  font-size: 24px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items:end;
  background-color: rgb(247, 247, 193);
}