.navbar.navbar-dark.bg-dark {
  width:100vw;
}

* {
  box-sizing: border-box;
} 

.hidden {
  display: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column; /* Make the body a flex container with a vertical direction */
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x:hidden;
  }
  
.figure1_container{
  width: 100vw; /* Adjust the width as needed */
  height: 82vh;
  display: flex;
  flex-direction: column; /* Stack items vertically  */
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-right-radius: 70px;
  transform-origin: left top;
  transform: skewX(-12deg);
  background-color: #E2F0CB;    

}

#residence_title {
  height: 10%;
  width: 30%;
  font-size: 2em; 
  transform-origin: left top; 
  transform: skewX(12deg);
  color: black;
  font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
}

#residence_pie {
  position:relative;
  width: 70%;
  height: 70%; 
  transform-origin: left top; 
  transform: skewX(12deg);
}

#g_container1{
  width: 100%; 
  height: 80vh;
  margin: auto;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color:#E2F0CB;
 
  display: grid;
  
}

#graph1 {
  width: 60vw;
  height: 60vh; 
  transform: translate(40%,-60%);
  position:relative 
}

#g1_title {
  height: 50vh;
  width: 50vw;
  font-size: 2em; 
  transform: translate(70%,10%);
  color: black;
  font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
}

#g_container2{
  width: 100%; 
  height: 80vh;
  margin: auto;
  border-top-right-radius: 70px;
  background-color: #E2F0CB;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: grid;
  
}

#graph2 {
  width: 60vw;
  height: 60vh; 
  transform: translate(40%,-60%);
  position:relative 
}

#g2_title {
  height: 50vh;
  width: 50vw;
  font-size: 2em; 
  transform: translate(70%,10%);
  color: black;
  font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
}

#g_container3{
  width: 100%; 
  height: 80vh;
  margin: auto;
  border-top-right-radius: 70px;
  background-color: #E2F0CB;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: grid;

  
}

#graph3 {
  width: 60vw;
  height: 60vh; 
  transform: translate(40%,-60%);
  position:relative 
}

#g3_title {
  height: 50vh;
  width: 50vw;
  font-size: 2em; 
  transform: translate(70%,10%);
  color: black;
  font-family: 'Your Desired Font', 'Times New Roman', Times, serif;
}

.buttons{
  display: inline-block;
  position: relative;
  top:50%;
  background-color:white;
  border:none;
  border-radius:50px;
  
  padding-top:10px;
  padding-bottom:10px;
  margin-right:5px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height:30px; 
  min-width: 120px;
}

.buttons:hover {
  background-color:#fff0c1;
  transition: 0.7s;
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 5px black  ;
}

.buttons2{
  display: inline-block !important;
  position: relative !important;
  top:50% !important;
  background-color:white !important;
  border:none !important;
  border-radius:50px !important;
  color: black !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
  margin-right:5px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  min-height:30px !important; 
  min-width: 120px !important;
}


.buttons2:hover {
  background-color:#fff0c1 !important;
  transition: 0.7s !important;
  transform: scale(1.05) !important;
  box-shadow: 0px 0px 5px 5px black !important;
}

#outer
{
    width:100%;
    text-align: center;
    /* background-color: #A7C7E7 ;  */
    background-image: url('https://i.pinimg.com/736x/e8/61/e2/e861e20ece0ef5c440304a703e1f95be.jpg'); /* Image URL */
    border-radius:10px;
}

.bar_container{
  display: flex;
  width:100vw;
  height: 82vh;
  background-color: #E2F0CB;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 70px;
  transform: skewX(12deg);
  transform-origin: right bottom;
}

#HS_severity_bar{
  margin-left: -10vw;
  width: 80%;
  height: 80%;
  transform: skewX(-12deg);
  transform-origin: right bottom; 
}

.info_card_header{

  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #ffe69c !important;
  /* background-image: url('https://i.pinimg.com/736x/e8/61/e2/e861e20ece0ef5c440304a703e1f95be.jpg') !important; */
  border: none !important;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black !important;
}

.card-footer{
  display: flex;
  text-align: justify;
  width: 100vw;
  height: 30vh;
  background-color: #A7C7E7 !important;
  /* background-image: url('https://i.pinimg.com/736x/e8/61/e2/e861e20ece0ef5c440304a703e1f95be.jpg') !important; */
  border: none !important;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black !important;
}

.card-footer span{
  max-width: 80%;
}

.card-footer2{
  display: flex;
  text-align: justify;
  width: 100vw;
  height: 10vh;
  background-color: #A7C7E7 !important;
  /* background-image: url('https://i.pinimg.com/736x/e8/61/e2/e861e20ece0ef5c440304a703e1f95be.jpg') !important; */
  border: none !important;
  border-radius: 20px !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black !important;
}

.card-footer2 span{
  max-width: 80%;
}



