/* mina q1 */
body {
    background-image: url('https://img.freepik.com/free-photo/dark-abstract-w…d-smoke-texture_53876-146666.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
