/* mina q1 */
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXGsuCsvMZLBF41It-7e_eEHutq0iXCqJt0Q&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
}
