body {
    padding: 20px;
}


#boxplot-container{
    height: 800px;
    width: 100%;
}

.analysis-container {
    margin-bottom: 20px;
}

.analysis-title {
    color: rgb(255, 115, 0);
}

.analysis-text {
    margin-bottom: 10px;
}

.reveal-button {
    background-color: #f8f9fa !important;
    color: black !important;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reveal-button:hover {
    background-color: #f8f9fa !important;
}

.hidden-content {
    display: none;
    margin-top: 15px;
    padding: 15px;
    background-color: #f8f9fa; /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}





