.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.button {
  float: left;
  margin-left: 25px;
    margin-top: 0px;
}