/* Title & Navbar  oldlace */
body {
    background-color: oldlace;
}

.b--black {
    border-color: black;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

.baskerville {
    font-family: baskerville, serif;
}

.i {
    font-style: italic;
}

.fw1 {
    font-weight: 100;
}

.fw4 {
    font-weight: 400;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.mw7 {
    max-width: 48rem;
}

.w2 {
    width: 2rem;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.white {
    color: #fff;
}

.bg-black-80 {
    background-color: rgba(0, 0, 0, .8);
}

.bg-white {
    background-color: #fff;
}

.hover-bg-light-yellow:hover {
    background-color: #fbf1a9;
}

.hover-bg-light-yellow:focus {
    background-color: #fbf1a9;
}


.hover-bg-light-green:hover {
    background-color: #9eebcf;
}

.hover-bg-light-green:focus {
    background-color: #9eebcf;
}

.hover-bg-lightest-blue:hover {
    background-color: #cdecff;
}

.hover-bg-lightest-blue:focus {
    background-color: #cdecff;
}

.pa3 {
    padding: 1rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb0 {
    margin-bottom: 0;
}

.mt2 {
    margin-top: 0;
}

.mt4 {
    margin-top: 0;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f1 {
    font-size: 3rem;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

@media screen and (min-width: 60em) {
    .ph4-l {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .f5-l {
        font-size: 1rem;
    }
}

/* Introduction */
.content-box {
    
    margin-top: 0%;
    padding: 20px;
    width: 100%;
    background-color: #f0fff0; /* Set a very light green background color for the box */
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center; /* Center the text within the box */
}

/* Alert */
.alert-warning {
    text-align: center; /* Center the text within the alert box */
    color: black; /* Set the font color to black */
}

/* Question Cards */
.card-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.card-link {
    text-decoration: none;
}

.card-link .card {
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Set a fixed width for the card */
}

.card-link:hover .card {
    transform: scale(1.08); /* Increase the size on hover, adjust as needed */
    transition: 0.7s;
    box-shadow: 0px 0px 2px 2px darkgrey;     
}

.card {
    background-color: #C7DBDA;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card-body {
    padding: 20px;
}

.decor {
    display: inline-flex;
    background-color: none;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}

.text_frame{
    display: flex;
    margin-right:-20%;
    position:relative;
    background-color: none;
    width:40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.text_frame h1 {
    font-size: 3vw;
}

.pic_frame{
    left: 30vw;
    margin-left:-20%;
    position:relative;
    background-color: none;
    width:70%;
    height: 100%;
    border-top-left-radius: 300px;
    transform-origin: right top;
    transform: skewX(30deg);
    display: grid;
    overflow: hidden;
}

.pic_frame img {
    width: 100%; 
    height: 100%; 
    animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
   
}

