/* mina q1 */
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQPd-NQIIgJLinyety34a4EItiMnHPPdfDUQ&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
}
